spring:
  application:
    name: fleet-management-app
  jpa:
    open-in-view: false
    hibernate.ddl-auto: none
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
#  datasource:
#    url: "jdbc:h2:mem:mydb"
#    username: sa
#    password: password
#    driverClassName: org.h2.Driver
  flyway.enabled: true
springdoc.api-docs.path: /api-docs

# todo: do we need this?
#org.springframework.cloud.bindings.boot.enable: true