{
  "openapi": "3.0.1",
  "info": {
    "title": "Customer Profile Management API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://wehaul-fleet-management-app-team-a.tap.h2o-2-1249.h2o.vmware.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Customer Profile REST API"
    }
  ],
  "paths": {
    "/api/fleet/trucks/send-for-inspection": {
      "put": {
        "tags": [
          "truck"
        ],
        "summary": "Send truck to inspection.",
        "operationId": "sendTruckForInspection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTruckForInspectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Truck successfully sent to inspection.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Truck cannot be sent to inspection.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/fleet/trucks/return-from-inspection": {
      "put": {
        "tags": [
          "truck"
        ],
        "summary": "Return truck from inspection.",
        "operationId": "returnTruckFromInspection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReturnTruckFromInspectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Truck successfully returned from inspection.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Truck not found.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/fleet/trucks": {
      "get": {
        "tags": [
          "truck"
        ],
        "summary": "Get all trucks in the fleet.",
        "operationId": "getTrucks",
        "responses": {
          "200": {
            "description": "List of trucks.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TruckResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "truck"
        ],
        "summary": "Creates a new truck in the fleet.",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TruckCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Truck successfully saved.",
            "headers": {
              "Location": {
                "description": "Contains path which can be used to retrieve saved truck. Last element is it's ID.",
                "required": true,
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Truck data is invalid."
          }
        }
      }
    },
    "/api/customer-profiles": {
      "post": {
        "tags": [
          "Customer Profile CRUD"
        ],
        "summary": "Saves provided customer profile.",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerProfileCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer profile successfully saved.",
            "headers": {
              "Location": {
                "description": "Contains path which can be used to retrieve saved profile. Last element is it's ID.",
                "required": true,
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Passed customer profile is invalid."
          }
        }
      }
    },
    "/api/customer-profiles/{id}": {
      "get": {
        "tags": [
          "Customer Profile CRUD"
        ],
        "summary": "Get customer profile.",
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer profile retrieved successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileResponse"
                }
              }
            }
          },
          "404": {
            "description": "Customer profile not found.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendTruckForInspectionRequest": {
        "type": "object",
        "properties": {
          "truckId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ReturnTruckFromInspectionRequest": {
        "type": "object",
        "properties": {
          "truckId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "TruckCreateRequest": {
        "type": "object",
        "properties": {
          "miles": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CustomerProfileCreateRequest": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "TruckResponse": {
        "type": "object",
        "properties": {
          "truckId": {
            "type": "integer",
            "format": "int32"
          },
          "miles": {
            "type": "integer",
            "format": "int32"
          },
          "lastInspectionMiles": {
            "type": "integer",
            "format": "int32"
          },
          "available": {
            "type": "boolean"
          },
          "availabilityReason": {
            "type": "string"
          }
        }
      },
      "CustomerProfileResponse": {
        "required": [
          "email",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    }
  }
}